h2{
background-color: blue;
color: white;
}
.color{
    color: #ab505f;
}
.color2{
    color:#2e4b6c ;
    
}
.color3{
    background-color: #034c03;
    color:white;
    font-family:'Times New Roman', Times, serif
}

.div1{
    background-color: black;
    text-align: center;
}
.h2{
    background-color: #ab505f;
    font-family: cursive;
    text-align: center;
}
.h1{
    background-color: green;
    text-align: center;
}
.p{
    text-align: center;
}
.h3{
    text-align: center;
    
}
.div{
    text-align: center;
}
.b{
    text-align: center;
    background-color: rgb(76, 76, 186);
}
.r{
    text-align: center;
}
.sakib{
    color: white;
    background-color:#1e61cb ;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif
}
.rana{
    text-align: center;
}

.Ab{
    color: blue;
}